<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.CheckHintPathTask" version="1.15.0" targetFramework="net452" developmentDependency="true" />
  <package id="Appccelerate.CheckNugetDependenciesTask" version="1.13.0" targetFramework="net452" developmentDependency="true" />
  <package id="Appccelerate.VersionTask" version="1.22.0" targetFramework="net452" developmentDependency="true" />
  <package id="bbvch.academy.Development" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="bbvch.academy.Development.Analyzers" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="bbvch.academy.Development.ProductionCode" version="1.0.2" targetFramework="net452" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>